node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

logs/
*.log
debug.log
error.log

dist/
build/
public/

.env
.env.local
.env.development
.env.production
.env.test

.idea/
*.iml

.DS_Store
Thumbs.db

.husky/_

eslintcache
stylelintcache
